.flex-dashboard{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

}

sidebar{
    display: block;
    height: 100%;
    width: 300px;
    background-color: white;
}

sidebar .sidebar-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    height: 90px;
    border: 1px solid rgba(0, 0, 0, .0625);
    border-right: 0px;
}

sidebar .sidebar-title img{
    height: 40px;
    width: 40px;
}

sidebar .sidebar-title h2{
    font-size: 16px;
    margin-top: 8px;
}

.menu{
    border-right:  1px solid rgba(0, 0, 0, .0625);
    padding: 30px;
}

div.menu ul{
    list-style-type: none;
}

div.menu ul li{
    padding: 0px 20px;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;    
}

div.menu ul li svg{
    color: #eb0e45;
    font-size: 25px;
}

div.menu ul li a{
    color: #5a5e63;
    margin-left: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

div.menu ul li a:hover{
    color:#eb0e45;
}

.selected{
    background-color:#e3e3e3;
}

.selected a {
    color: #eb0e45 !important;
}

.sidebar_logout{
    display:none;
}

.hide{
    left: -300px;
}

@media screen and (max-width: 768px) {

    sidebar{
        position: absolute;
        top: 0;
        left: 0;
       z-index: 2;
       transition: all .4s;
    }
    
    .sidebar_logout{
        display:block;
    }

}

@media screen and (max-width: 380px) {

    sidebar{
        position: absolute;
        top: 0;
        left: 0;
       z-index: 2;
       transition: all .4s;
       width: 250px;
    }
    
    .sidebar_logout{
        display:block;
    }

}

